.work-experience {
  background: linear-gradient(135deg, #2d3c53 52%, #ffffff 48%);
  color: #2d3c53;
  padding-top: 50px;
  padding-bottom: 200px;
  text-align: center;
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
}

.timeline {
  position: relative;
  width: 75%;
  margin: auto;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 4px;
  height: 100%;
  background: #ccc;
  transform: translateX(-50%);
}

.timeline-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  position: relative;
}

.ITcontent {
  width: 44%;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 15px #2d3c53;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.ITcontent:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 25px #2d3c53;
}

.timeline-item.left .ITcontent {
  text-align: right;
  margin-right: 50px;
}

.timeline-item.right .ITcontent {
  text-align: left;
  margin-left: 5px;
  position: relative;
  left: 55%;
}

.circle {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 48.15%;
  transform: translateX(-50%);
  background-color: #f0f0f0;
  box-shadow: 0 0 10px #2d3c53;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.exp-sub-text-light {
  font-size: 15px;
  text-transform: uppercase;
  font-family: system-ui;
  color: rgb(208, 208, 208);
}

.exp-head-text-light {
  color: #D9D9D9;
  font-weight: 900;
  font-family: 'Poppins', sans-serif;
  font-size: 45px;
}

.exp-text {
  text-align: left;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 35px;
}

.company {
  color: #8f8f8f;
  margin-bottom: 0px;
  font-size: 13px;
}

.duration {
  font-size: 12px;
  color: #777;
  margin-bottom: 0px;
}

.download-button {
  background-color: #000000;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.download-button::before {
  content: "\1F4CE";
  font-weight: bold; 
  margin-right: 8px;
  font-size: 1.2em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .timeline {
      width: 90%;
  }
  .ITcontent {
      width: 90%;
  }
}

  