
.slider {
  position: relative;
  width: 100%;
  height: 620px;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  overflow: hidden;
}

.slide.active {
  opacity: 1;
}

.slide-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: brightness(50%);
}

.slide.active .slide-bg {
  animation: zoomEffect 5s ease-in-out forwards;
}


/* Zoom Effect Animation */
@keyframes zoomEffect {
  0% {
    transform: scale(1.1); /* Start slightly zoomed in */
  }
  100% {
    transform: scale(1.0); /* Gradually shrink to normal size */
  }
}

/* Overlay for Text */
.overlay {
  position: absolute;
  bottom: -100px;
  left: 50%;
  top: 50%;
  width: max-content;
  transform: translateX(-50%);
  background: transparent;
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  z-index: 2;
  opacity: 0;
  animation: slideUp 1s ease forwards;
  animation-delay: 0.5s;
}

/* Show overlay only on active slide */
.slide.active .overlay {
  opacity: 1;
}



/* Heading and subtext styles */
.slide-heading {
  font-size: 3rem;
  font-weight: 700;
}

.slide-subtext {
  font-size: 2rem;
  font-weight: 400;
}

/* Read More Button (optional if used) */
.read-more {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #2b55c0;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 22px;
}

.read-more:hover {
  background-color: #2d3c53;
}

/* Pagination Dots */
.pagination {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 3;
  padding-bottom: 10px;
}

/* Default Dot */
.dot {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transition: all 0.3s ease;
}

.dot:hover {
  cursor: pointer;
}

/* Active Dot - Loader Effect */
.dot.active {
  width: 16px;
  height: 16px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-top-color: #ffffff;
  border-radius: 50%;
  background: transparent;
  animation: spin 5s linear infinite;
}

/* Keyframes for Dot Rotation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Background Zoom on every slide */
.slide-bg.zoom {
  animation: zoomEffect 5s ease-in-out forwards;
}
[class^="zoom-"] {
  animation: zoomEffect 5s ease-in-out forwards;
}

/* Slide Text Animation */
.overlay.slide-text {
  animation: slideUp 2s ease forwards;
  animation-delay: 0.0s;
  opacity: 0;
}

/* Slide-Up Animation */
@keyframes slideUp {
  0% {
    bottom: -50px;
    opacity: 0;
  }
  100% {
    bottom: 50%;
    transform: translate(-50%, 50%);
    opacity: 1;
  }
}

