.container {
    /*background-color: #f1f7fb;
    padding: 30px;*/
    border-radius: 20px;
}
#about {
    padding: 30px 50px 25px 50px;
    text-align: left;
}
.read-more {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #2b55c0;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 22px;
  }
  
  .read-more:hover {
    background-color: #2d3c53;
  }